@font-face {
  font-family: "Helvetica Neue Cyr";
  src: url("https://static.tildacdn.com/tild6235-3639-4563-a331-383032653030/HelveticaNeueCyr-Rom.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Cyr";
  src: url("https://static.tildacdn.com/tild3063-3062-4235-a565-323565666535/HelveticaNeueCyr-Med.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Cyr";
  src: url("https://static.tildacdn.com/tild3562-6434-4839-a465-343063363930/HelveticaNeueCyr-Bol.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue Cyr";
  src: url("https://static.tildacdn.com/tild3863-3937-4230-a364-313262383962/HelveticaNeueCyr-Bol.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
